<app-header></app-header> 
<body>
  <h1><b><u><i>E-Medicare</i></u></b></h1>
  
  <h3><br>
      <div class = "container">
          <p>Welcome to India’s leading digital Healthcare Platform
            We focus on Simplifying healthcare & Impacting lives!</p>
      </div>
  </h3><br>

  <h5 align = center>
      <h1><b><u><i><strong>What is E-Medicare ?</strong> </i></u></b></h1>
      <div class = "container1">
          <p>E-Medicare is a consumer healthcare “super app”.</p>
         <p>
          E-Medicare is a consumer healthcare “super app” that provides consumers with on-demand, home delivered access to a wide range of prescription,
           OTC pharmaceutical, other consumer healthcare products, comprehensive diagnostic 
           test services, and teleconsultations thereby serving their healthcare needs.
         </p>
          <p>Our branches are spreading across all over India</p>
          </div>
         <i><h1>"To change the face of healthcare in India, one consumer at a time."</h1></i> 
  </h5><br><br>

  

  
</body>
